<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<project default="idumoitem">
	<!-- special setting -->
	<property name="android.path" value="/home/idumo/android/"/>
	<property name="android.lib"  value="${android.path}/platforms/android-8/android.jar:${android.path}/add-ons/addon-google_apis-google-8/libs/maps.jar"/>
	<property name="annotation"   value="${android.path}/tools/support/annotations.jar"/>
	<property name="java.home"    value="/usr/lib/jvm/java-6-sun-1.6.0.35/"/>
	<property name="java.tools"   value="/usr/lib/jvm/java-6-sun-1.6.0.35/lib/tools.jar"/>

	<import file="common.xml"/>

</project>
