<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hixi_hyi.idumo.android"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:debuggable="true"
    			android:icon="@drawable/icon"
    			android:label="@string/app_name">
         <activity android:name="Idumo"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait"
                  android:label="Idumo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
                -->
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!--          IDUMO SAMPLES                -->
        <!-- ************************************* -->


        <!-- ************************************* -->
        <!--          SENSOR SAMPLES                -->
        <!-- ************************************* -->
        <activity android:name=".activity.sensor.AccelerometerActivity"
        		 android:label="@string/activity_accelerometer">
            <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.sensor.GPSActivity"
        		 android:label="@string/activity_gps">
            <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.sensor.MagneticActivity"
        		 android:label="@string/activity_magnetic">
            <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.sensor.ProximityActivity"
        		 android:label="@string/activity_proximity">
            <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.sensor.LightActivity"
        		 android:label="@string/activity_light">
            <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.sensor.TemperatureActivity"
        		 android:label="@string/activity_temperature">
            <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.sensor.OrientationActivity"
        		 android:label="@string/activity_orientation">
            <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!--          APP   SAMPLES                -->
        <!-- ************************************* -->
        <activity android:name=".activity.app.TodaysWeatherActivity"
        		 android:label="@string/activity_todaysweather">
            <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.app.ReverseGeoLocationActivity"
        		 android:label="@string/activity_rgeolocation">
            <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!--          TCP   SAMPLES                -->
        <!-- ************************************* -->

        <activity android:name=".sample.Accelerometer2TCP"
        		 android:label="@string/activity_accel2tcp">
 	        <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.RandomByte2TCP"
        		 android:label="@string/activity_ramdom2tcp">
            <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!--          Auto  SAMPLES                -->
        <!-- ************************************* -->
        <activity android:name=".auto.app.TodaysWeatherActivity"
        		  android:label="@string/auto_todaysweather">
            <intent-filter>
 	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>



     </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>