<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hixi_hyi.idumo.android.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <!--
        <activity
            android:name="IDUMO"
            android:label=".IDUMO" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.IDUMO_TESTS" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name="IDUMO"
            android:label="IDUMO" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <!-- Sensor -->
        <activity
            android:name=".sensor.AndroidGPS"
            android:label="Sensor/GPS" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sensor.AndroidAccelerometer"
            android:label="Sensor/Accelerometer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sensor.AndroidLight"
            android:label="Sensor/Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sensor.AndroidMagnetic"
            android:label="Sensor/Magnetic" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sensor.AndroidOrientation"
            android:label="Sensor/Orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sensor.AndroidProximity"
            android:label="Sensor/Proximity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <!-- /Sensor -->
        <activity
            android:name="TextView"
            android:label="View/TextView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Number2MapView"
            android:label="View/Number2MapView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.GPS2MapView"
            android:label="View/MapView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Shop2MapView"
            android:label="View/ShopMapView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IDUMO_SAMPLES" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>